.cellule
{
    width: 10px ;
    height: 10px ;
}
.black
{
    background-color: black ; 
}
.white
{
    background-color: white ; 
}
.row
{
    display: flex ; 
    flex-direction: row ; 
}
#superDamier
{
    display: flex ; 
    flex-direction: column ; 
}