.cellule
{   
    --sizeCellule : 50px ; 
    width: var(--sizeCellule) ;
    height: var(--sizeCellule)  ;
}
.black
{
    background-color: black ; 
}
.red
{
    background-color: red ; 
}
.row
{
    display: flex ; 
    flex-direction: row ; 
}
#superDamier
{
    display: flex ; 
    flex-direction: column ; 
}