.cellule
{
    width: 50px ;
    height: 50px ;
}
/*.black
{
    background-color: black ; 
}
.red
{
    background-color: red ; 
}*/
.row
{
    display: flex ; 
    flex-direction: row ; 
}
#superDamier
{
    display: flex ; 
    flex-direction: column ; 
}
/* version avec pseudo Selector */


.row:nth-child(even) .cellule:nth-child(even) 
{
    background-color: aqua ; 
}
.row:nth-child(even) .cellule:nth-child(odd) 
{
    background-color: blueviolet ; 
} 
.row:nth-child(odd) .cellule:nth-child(even)
{
    background-color: blue ; 
}
.row:nth-child(odd) .cellule:nth-child(odd)
{
    background-color: chartreuse ; 
}